config ORLIX
	bool "Orlix architecture"
	default y
	select GENERIC_IRQ_SHOW
	select IRQ_DOMAIN
	select HAVE_PAGE_SIZE_4KB
	select HAVE_PAGE_SIZE_16KB
	select OF
	select OF_IRQ
	select HAS_IOMEM
	select HAS_DMA
	select ARCH_WANT_FRAME_POINTERS
	select GENERIC_CPU_DEVICES
	select LOCK_MM_AND_FIND_VMA
	select CLONE_BACKWARDS

config 64BIT
	bool
	default y

config MMU
	bool
	default y

config PGTABLE_LEVELS
	int
	default 4

config GENERIC_CSUM
	def_bool y

config GENERIC_CALIBRATE_DELAY
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config ORLIX_HOSTED_ASYNC_USER_TIMER
	bool
	default y

source "kernel/Kconfig.hz"
