CONFIG_ORLIX=y
CONFIG_OF=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_ORLIX_VIRTIO_MMIO=y
CONFIG_ORLIX_TTY=y
CONFIG_ORLIX_CHAR=y
CONFIG_BLOCK=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
# CONFIG_PTP_1588_CLOCK is not set
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PAGE_SIZE_16KB=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="$(srctree)/arch/orlix/boot/initramfs/no-init.list"
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_CGROUPS=y
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
# CONFIG_SECCOMP is not set
# CONFIG_SECCOMP_FILTER is not set
CONFIG_TMPFS=y
CONFIG_TMPFS_XATTR=y
CONFIG_EXT4_FS=y
CONFIG_OVERLAY_FS=y
CONFIG_INET=y
CONFIG_UNIX=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_ELF=y
# CONFIG_BPF_JIT is not set
# CONFIG_DEVMEM is not set
# CONFIG_MODULES is not set
